<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Materialise css -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css">

    <!-- Link to own style.css file, needs to be url_for, not just a directory, otherwise would cause errors -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    <title>Task Manager</title>
</head>
<body>

   <header>
       
        <nav class="light-green lighten-1">
            
            <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Task Manager</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <!-- desktop nav bar -->
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li>
            </ul>
            </div>
        </nav>
        <!-- mobiles nav bar -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>
   </header>

    <!-- jQuery link needs to bo before materialize -->

    <!-- Materialize javascript -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Link to our script.js file, need to use url_for this needs to be used for all internal files within our workspace / project or images. -->

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>